.trash {
    color: rgb(209, 91, 71);
}

.panel-body .checkbox {
    display: inline-block;
    margin: 0px;
}

.text {
    text-align: center;
}

span {
	height: 30px;
}

p{
	margin:15px;
}
.glyphicon {
	font-size: 20px;
}

img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 110px; /* Set a small width */
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#tableact td 
{
    text-align: center; 
    vertical-align: middle;
}

th[id="head"]:not(.no-sort) {
	cursor: pointer;
}

th[id="head"]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: visible;
	opacity: 0.2;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[id="head"]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}